@use "./variables" as *;

@mixin panelStyling {
  width: 100%;
  max-width: 600px;
  background-color: $colour-dark-purple;
  padding: 3rem;
  border-radius: 0.5rem;
  min-height: 200px; // remove
  max-height: 600px;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
