@use "./variables" as *;

@mixin panelStyling {
  width: 100%;
  max-width: $panel-width;
  min-height: 400px;
  max-height: 800px;

  padding: 3rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $colour-dark-purple;
  box-shadow: $box-shadow;
}
