@use "./variables" as *;

@mixin panelStyling {
  width: 100%;
  max-width: $panel-width;
  min-height: 400px;
  max-height: 800px;

  padding: 3rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;

  background-color: $colour-dark-purple;
  box-shadow: $box-shadow;
  transition: 2s;

  &:hover {
    animation: panelGrow 2s ease-in-out;
    transform: scale(1.0125);
    background-color: $colour-darker-purple;
  }
}
