@use "./variables" as *;
@use "./reset" as *;
@use "./typography" as *;
@use "./mixins";

body {
  background-color: $colour-dark-blue;
  padding: $padding-body;

  .App {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // align-items: flex-start;
    gap: $gap;
    min-height: 100vh;

    .column {
      display: grid;
    }

    .panel {
      @include mixins.panelStyling;
    }
  }
}
